@import './vars';


.Card {
  box-shadow: .1rem .1rem .2rem .15rem transparentize(black, .5%);
  border-radius: .5rem;
}

.RadioSelector {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
  & > div {
    display: flex;
    gap: 2rem;
    div {
      display: flex;
      gap: .5rem;
      align-items: center;
    }
  }
}

.TextInput {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  label {
    font-weight: bold;
  }
  input, textarea {
    outline: none;
    border: .1rem lighten($theme_cls_primary, .5) solid;
    height: 2rem;
    padding: 0 0.5rem;
    font-size: .9rem;
    border-radius: .5rem;
  }
}

.MainContainerCentered {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $nav_size);
  align-items: center;
  box-sizing: content-box;
  h1 {
    text-align: center;
    padding: 1.5rem 0 1rem 0;
  }
}

.TaskStatusWidget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
  }
}

.StatusFinished {
  background-color: lawngreen;
}

.StatusNoFinished {
  background-color: red;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 2.25rem;
  border: none;
  outline: none;
  border-radius: .25rem;
  font-size: .75rem;
  transition: all 200ms ease-in-out;
}

.FinishedButtonStyle {
  opacity: 25%;
}

.SmallSpin {
  &:before {
    content: '';
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: .01rem solid #ccc;
    border-top-color: orange;
    animation: spinner .6s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}